.image-container {
  max-width: 90%;
  min-width: 90%;
  height: auto;
  overflow: hidden;
  margin: auto;
  padding-bottom: 5px;
  display: flex;
}
.image-container img:hover {
  cursor: pointer;
  transform: scale(1.5);
  overflow: hidden;
  transition: ease 2s;
}

@media (max-width: 600px) {
  .image-container {
    max-height: 400px;
    min-height: 400px;
    max-width: 95%;
    min-width: 95%;
  }
}
@media (max-width: 400px) {
  .image-container {
    max-height: 350px;
    min-height: 350px;
  }
}
@media (max-width: 320px) {
  .image-container {
    max-height: 300px;
    min-height: 300px;
  }
}
@media (min-width: 600px) {
  .image-container {
    max-height: 550px;
    min-height: 550px;
  }
}
